 <!-- Header and Nav -->
 <header>
  <div class="row">
    <div class="small-2 columns">
        <h1>FCMS</h1>
    </div>
    <div class="small-8 columns navigation">
        <div id="nav" class="pagenav">
            <ul>
                <li class="active"><a href="#">Home</a></li>
                <li class="persons"><a href="">Persons</a></li>
                <li class="communities"><a href="">Communities</a></li>
                <li class="events"><a href="">Events</a></li>
            </ul>
        </div>
      <!--<div class="panel">
      </div>-->
    </div>
  </div>
</header>
  <!-- End Header and Nav -->