 <!-- Header and Nav -->
 <header>
  <div class="row">
    <div class="small-2 large-2 centered columns columns">
        <h1>FCMS</h1>
    </div>
    <div class="large-8 columns text-left navigation">
        <div id="nav" class="pagenav">
            <ul>
                <li class="active"><a href="#">Home</a></li>
                <li class="persons"><a href="">Persons</a></li>
                <li class="communities"><a href="">Communities</a></li>
                <li class="events"><a href="">Events</a></li>
            </ul>
        </div>
    </div>
    <div class="small-2 columns login-anchor">
    <!--<a href="{% url 'social:begin' 'github' %}">Login</a>-->
    <a href="{% url 'auth' %}">Login</a>
    You are logged in as {{ user.username }}! <a href="/logout/">logout</a>)
    </div>

    </div>
  </div>
</header>
  <!-- End Header and Nav -->