{% extends "base.html" %}
{% load static %}
{% block css %}
<link rel="stylesheet" type="text/css" href="{% static "main/css/style.css" %}">
{% endblock %}

{% block base_body %}

{% if user.is_authenticated %}
Welcome, {{ user.username }}
{% endif %}

You are logged in as {{ request.user.username }}!

<p>Associated:</p>
<ul>
  {% for assoc in backends.associated %}
    <li>
      {{ assoc.provider }} (<a href="{% url 'social:disconnect_individual' assoc.provider assoc.id %}" class="disconnect">Disconnect</a> or <a href="/logout/">logout</a>)
    </li>
  {% endfor %}
</ul>

<p>Associate:</p>
<ul>
  {% for name in backends.not_associated %}
    <li>
      <a href="{% url 'social:begin' name %}">{{ name }}</a>
    </li>
  {% endfor %}
</ul>

{% endblock base_body %}